<div class="container">
    <h2 class="text-center">SOBRE</h2>
    <div class="row">
      <!-- Lado Esquerdo (Turma, Turno, Unidade) -->
      <div class="col-12 col-md-4 text-center text-md-left">
        <p><strong>Turma:</strong> {{ turma }}</p>
        <p><strong>Turno:</strong> {{ turno }}</p>
        <p><strong>Unidade:</strong> {{ unidade }}</p>
      </div>
  
      <!-- Lado Central (Imagem) -->
      <div class="col-12 col-md-4 d-flex justify-content-center align-items-center my-3 my-md-0">
        <img src="assets/Felipe.jpg.png" class="img-fluid" style="max-width: 100%; height: auto;" />
      </div>
  
      <!-- Lado Direito (Nome do Aluno) -->
      <div class="col-12 col-md-4 text-center text-md-left">
        <p><strong>Nome:</strong> {{ alunoNome }}</p>
      </div>
    </div>
  </div>
  
  